#caixa_verde, #caixa_azul, #caixa_amarelo, #caixa_vermelha {
    position: absolute;
    width: 100px;
    height: 100px;
}

#caixa_verde {
    background-color: #02a81d;
    top: 100px;
    left: 50px;
    z-index: 0;
    opacity: 0.8
}

#caixa_azul {
    background-color: #0768e6;
    top: 125px;
    left: 75px;
    z-index: 1;
    opacity: 0.6
}

#caixa_amarelo {
    background-color: #fadc35;
    top: 150px;
    left: 100px;
    z-index: 2;
    opacity: 0.4
}

#caixa_vermelha{
    background-color:red;
    top: 175px;
    left: 125px;
    z-index: 3;
    opacity: 0.2
}