<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset=UTF-8 />
    </head>
    <body>
        <article>
          <section>
            <header>
               <h1>Economia</h1>
            </header>
            <a href="https://www.infomoney.com.br" target="_blank">Fique por dentro da Economia</a>
          </section>
        </article>
    </body>
</html>