<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset=UTF-8 />
    </head>
    <body>
        <article>
          <section>
            <header>
               <h1>Educação</h1>
            </header>
            <a href="http://fito.edu.br" target="_blank">Educação para todos!!</a>
          </section>
        </article>
    </body>
</html>