<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset=UTF-8 />
    </head>
    <body>
        <article>
          <section>
            <header>
               <h1>Esportes</h1>
            </header>
            <a href="https://ge.globo.com" target="_blank">Fique ligado nos esportes!!</a>
          </section>
        </article>
    </body>
</html>