<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset=UTF-8 />
    </head>
    <body>
        <article>
          <section>
            <header>
               <h1>Tecnologia da Informação</h1>
            </header>
            <a href="http://www.tecmundo.com.br" target="_blank">Site de Tecnologia</a>
          </section>
        </article>
    </body>
</html>